ipykernel
jupyter-sphinx
nbsphinx
retry2
sphinx
sphinx-copybutton
sphinx-design
sphinx-docsearch
sphinx-git
sphinx-gitstamp
sphinx-rtd-theme
sphinx-tabs
sphinxcontrib-bibtex
sphinxcontrib-images
sphinxcontrib-mermaid
sphinxemoji
