jupyter-sphinx
pip-tools
sphinx
sphinx-copybutton
sphinx-design
sphinx-git
sphinx-gitstamp
sphinx-prompt==1.5.0   # wait for sphinx>=6 support from sphinx-design
sphinx-rtd-theme
sphinxcontrib-bibtex
sphinxcontrib-images
sphinxcontrib-mermaid
sphinxemoji