ipykernel
nbsphinx
# jupyter-sphinx --> removed until conflict with sphinxcontrib-mermaid is resolved
retry2
sphinx
sphinx-copybutton
sphinx-design
sphinx-git
sphinx-gitstamp
sphinx-prompt
sphinx-rtd-theme
sphinx-tabs
sphinxcontrib-bibtex
sphinxcontrib-images
sphinxcontrib-mermaid
sphinxemoji