p {
    margin-bottom: 10px;
}

.rst-content .section ol {
    margin-bottom: 10px;
}

.highlight {
    background: #d5d5d5;
}

dt.field-odd, dt.field-even {
    padding-top: 2px;
}

code,
.rst-content tt,
.rst-content code {
    white-space: normal !important;
}

code.code.highlight span.p {
    color: black;
}

th.head p {
    margin-bottom: 0px;
}

h4 {
    margin-bottom: 12px;
}

table.docutils.align-center {
    text-align: center;
}

/*.rst-content div.wy-table-responsive table thead {*/
/*    position: absolute;*/
/*}*/

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal !important;
}

.section {
    margin-top: 25px;
}

dt.field-odd, dt.field-even, dt.label {
    padding-top: 2px;
}

/*html.writer-html5 .rst-content dl.field-list,
html.writer-html5 .rst-content dl.footnote {
    grid-template-columns: max-content inherit;
}*/

.rst-content .line-block {
    margin-bottom: 0;
}

.rst-content .toctree-wrapper > p.caption,
.rst-content h1,
.rst-content h2,
.rst-content h3,
.rst-content h4,
.rst-content h5,
.rst-content h6 {
    margin: 25px 0 20px 0;
}

.wy-plain-list-disc li p:last-child,
.rst-content .section ul li p:last-child,
.rst-content .toctree-wrapper ul li p:last-child,
article ul li p:last-child {
    margin-bottom: 3px;
}

.wy-plain-list-decimal li p:last-child,
.rst-content .section ol li p:last-child,
.rst-content ol.arabic li p:last-child,
article ol li p:last-child {
    margin-bottom: 3px;
}

.rst-content .section ul,
.rst-content .toctree-wrapper ul,
.wy-plain-list-disc,
article ul {
    margin-bottom: 10px;
}

.rst-content .section ol li > *,
.rst-content .section ul li > * {
    margin-top: 4px;
}

.rst-content .toctree-wrapper > p {
    margin: 0 0 12px;
}

.rst-content .section ul li p:last-child,
.rst-content .section ul li ul,
.rst-content .toctree-wrapper ul li p:last-child,
.rst-content .toctree-wrapper ul li ul,
.wy-plain-list-disc li p:last-child,
.wy-plain-list-disc li ul,
article ul li p:last-child, article ul li ul {
    margin-bottom: 10px;
}

.rst-content div[class^=highlight],
.rst-content pre.literal-block {
    border: 1px solid #e1e4e5;
    overflow-x: auto;
    margin: 1px 0 12px;
}

.toctree-wrapper.compound ul li.toctree-l1 ul {
    margin-top: 0;
    margin-bottom: 0;
}

.rst-content .design-principle .admonition-title {
    background: hotpink;
}

.rst-content .pattern-definition .admonition-title {
    background: forestgreen;
}

.linenodiv {
    background: #555555;
    color: white;
}

.rst-content td .line-block {
    margin-bottom: 0;
}

.update_date {
  font-weight: bold;
}

.lastupdate {
  color: #d9d9d9;
  background: #343131;
  border-radius: 10px;
  text-align: center;
  padding: 5px 0 5px 0;
  margin: auto auto 15px auto;
  border-width: 1px;
}

/*** Custom inline text formats ***/
/* Background colors */
.rbg {
    background-color: #ff9999;
}

/*Foreground colors*/

.gfg {
    color: #2eb82e;
}

.rfg {
    color: #e60000;
}

.ulined {
    text-decoration: underline;
}

/*.rst-content table th.stub {*/
/*    position: absolute;*/
/*}*/
