p {
    margin-bottom: 10px;
}

.rst-content .section ol {
    margin-bottom: 10px;
}

.highlight {
    background: #d5d5d5;
}

dt.field-odd, dt.field-even {
    padding-top: 2px;
}

/* Custom inline text formats */

.rbg {
    background-color: #ff9999;
}

.gfg {
    color: #2eb82e;
}

.rfg {
    color: #e60000;
}

.ulined {
    text-decoration: underline;
}
