p {
    margin-bottom: 10px;
}

.rst-content .section ol {
    margin-bottom: 10px;
}

.highlight {
    background: #d5d5d5;
}

dt.field-odd, dt.field-even {
    padding-top: 2px;
}

code,
.rst-content tt,
.rst-content code  {
    white-space: normal !important;
}

th.head p{
    margin-bottom: 0px;
}

h4 {
    margin-bottom: 12px;
}

table.docutils.align-center {
    text-align: center;
}

.section {
    margin-top: 25px;
}

dt.field-odd, dt.field-even, dt.label{
    padding-top: 2px;
}

/*html.writer-html5 .rst-content dl.field-list,
html.writer-html5 .rst-content dl.footnote {
    grid-template-columns: max-content inherit;
}*/

.wy-plain-list-disc li p:last-child,
.rst-content .section ul li p:last-child,
.rst-content .toctree-wrapper ul li p:last-child,
article ul li p:last-child {
 margin-bottom: 3px;
}

.wy-plain-list-decimal li p:last-child,
.rst-content .section ol li p:last-child,
.rst-content ol.arabic li p:last-child,
article ol li p:last-child {
 margin-bottom: 3px;
}

.rst-content .section ul,
.rst-content .toctree-wrapper ul,
.wy-plain-list-disc,
article ul {
 margin-bottom:10px;
}

.rst-content .section ol li>*,
.rst-content .section ul li>* {
 margin-top:4px;
}

.rst-content .toctree-wrapper>p {
 margin:0 0 12px;
}

.rst-content .section ul li p:last-child,
.rst-content .section ul li ul,
.rst-content .toctree-wrapper ul li p:last-child,
.rst-content .toctree-wrapper ul li ul,
.wy-plain-list-disc li p:last-child,
.wy-plain-list-disc li ul,
article ul li p:last-child, article ul li ul {
 margin-bottom: 10px;
}

.rst-content div[class^=highlight],
.rst-content pre.literal-block {
 border:1px solid #e1e4e5;
 overflow-x:auto;
 margin:1px 0 12px;
}

.toctree-wrapper.compound ul li.toctree-l1 ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* Custom inline text formats */

.rbg {
    background-color: #ff9999;
}

.gfg {
    color: #2eb82e;
}

.rfg {
    color: #e60000;
}

.ulined {
    text-decoration: underline;
}
