/* Layout & font styles
** --------------------*/
.rst-content {
    dt.field-odd, dt.field-even, dt.label { padding-top: 2px; }             /* correct bad horizontal alignment with <dd> elements */
    h1, h2, h3, h4, h5, h6 { margin: 25px 0 15px 0; }                       /* more margin for headings */
    p { margin-bottom: 10px; }                                              /* decrease margin to next element */
    .toctree-wrapper.compound ul li.toctree-l1 ul {
        margin-top: 0;
        margin-bottom: 0;                                                   /* minimize margin for toctree list elements */
    }
    .ulined { text-decoration: underline; }                                 /* underlined text */
    .update_date { font-weight: bold; }                                     /* git_timestamp footer date in bold font */
    .wy-table-responsive table td,
    .wy-table-responsive table th { white-space: normal; }                  /* enable text wrap in table cells */
}

/* Text styles
** -----------*/
.strike { text-decoration: line-through; }      /* strike-through text*/
.ulined { text-decoration: underline; }         /* underlined text */

/* Color styles
** ------------
** most rules must stay outside of .rst-content to allow override by Dark Reader */

.highlight { background: #d5d5d5; }                                             /* code and prompt windows background */
div.nboutput.container div.output_area .highlight { background: #d0ffaeff; }    /* nbsphinx cell output background */

/* Custom Admonitions */
/* .. design-principle:: */
.design-principle .admonition-title { background: hotpink; }
/* .. pattern-definition:: */
.pattern-definition .admonition-title { background: forestgreen; }
/* .. problem:: */
.problem .admonition-title { background: #ff9999; }
.problem .admonition-title::before { content: "ï±"; }                            /* prepend custom warning element */
/* .. waiting:: */
.rst-content {
    div.admonition.waiting { background: #e7ffc2ff; }
    div.admonition.waiting p.admonition-title { background: #7eab48ff; }
    div.admonition.waiting p.admonition-title::before { content: "\2615   "; }  /* prepend coffee symbol */
}

/* Custom foreground colors */
.gfg { color: #2eb82e; }                    /* green foreground */
.rfg { color: #e60000; }                    /* red foreground */

/* Custom background colors */
.rbg { background-color: #ff9999; }         /* red background */
.gbg { background-color: #87ff85ff }        /* green background */

/* Custom table cell background colors */
.red-header thead tr.row-odd { background-color: #e60000; }     /* table head red foreground */

/* Third-Party Extensions */
.jupyter_container .output .highlight { overflow-y: clip; }     /* Clip xontent of jupyter container -> not sure, still needed */


/* Custom extensions
** -----------------*/
.guilabel { font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif,SymbolaRegular }     /* set most suitable font for unicode symbols */
.lastupdate {                               /* git_timestamp footer element style */
    color: #d9d9d9;
    background: #343131;
    border-radius: 10px;
    text-align: center;
    padding: 5px 0 5px 0;
    margin: auto auto 15px auto;
    border-width: 1px;
}

/* ----------------------------------------------
    DELETE EVERYTHING BELOW, IF NOT ISSUES FOUND
   ----------------------------------------------*/


/*table.docutils.align-center {*/
/*    text-align: center;*/
/*}*/

/*.section {*/
/*    margin-top: 25px;*/
/*}*/

/*html.writer-html5 .rst-content dl.field-list,
html.writer-html5 .rst-content dl.footnote {
    grid-template-columns: max-content inherit;
}*/

/*.rst-content .line-block {*/
/*    margin-bottom: 0;*/
/*}*/

/*.wy-plain-list-disc li p:last-child,*/
/*.rst-content .section ul li p:last-child,*/
/*.rst-content .toctree-wrapper ul li p:last-child,*/
/*article ul li p:last-child {*/
/*    margin-bottom: 3px;*/
/*}*/

/*.wy-plain-list-decimal li p:last-child,*/
/*.rst-content .section ol li p:last-child,*/
/*.rst-content ol.arabic li p:last-child,*/
/*article ol li p:last-child {*/
/*    margin-bottom: 3px;*/
/*}*/

/*.rst-content .section ol li > *,*/
/*.rst-content .section ul li > * {*/
/*    margin-top: 4px;*/
/*}*/

/*.rst-content .section ul li p:last-child,*/
/*.rst-content .section ul li ul,*/
/*.rst-content .toctree-wrapper ul li p:last-child,*/
/*.rst-content .toctree-wrapper ul li ul,*/
/*.wy-plain-list-disc li p:last-child,*/
/*.wy-plain-list-disc li ul,*/
/*article ul li p:last-child, article ul li ul {*/
/*    margin-bottom: 10px;*/
/*}*/

/*.rst-content div[class^=highlight],
.rst-content pre.literal-block {
    border: 1px solid #e1e4e5;
    overflow-x: auto;
    margin: 0 0 12px;
}*/

/*.rst-content .design-principle .admonition-title {*/
/*    background: hotpink;*/
/*}*/

/*.rst-content .pattern-definition .admonition-title {*/
/*    background: forestgreen;*/
/*}*/

/*.rst-content .problem .admonition-title {*/
/*    background: #ff9999;*/
/*}*/

/*.linenodiv {*/
/*    background: #555555;*/
/*    color: white;*/
/*}*/

/*.rst-content td .line-block {*/
/*    margin-bottom: 0;*/
/*}*/

/*.update_date {*/
/*    font-weight: bold;*/
/*}*/

/*.rst-content table th.stub {*/
/*    position: absolute;*/
/*}*/
